@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
.acceuil{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.welcome-h3{
    font-family: 'Quicksand', sans-serif;
    color: #008000;
}
.acceuil-client-form{
    display: flex;
    flex-direction: column;
}
/* .upload-state{
    
} */
.client-form-mail,.client-form-phone,.client-form-name{
    width: 30em;
    height: 3em;
    /* background: #008000; */
    color: #003600;
    border: 1px solid #008000;
    border-radius: 15px;
    padding-left: 20px;
    font-family: sans-serif;
    outline-color:rgb(170, 4, 4) ;
    outline-width: 1px;
    box-shadow: 1px 1px 5px #003600;
    animation: acceuil 400ms ease;
}
@keyframes acceuil{
    0%{
        margin-left: 70px;
        width: 0em;
    }
    25%{
        width: 15em;
    }
    50%{
        width: 20em;
    }
    75%{
        width: 25em;
    }
    100%{
        width: 30em;
    }
}
.client-payement-proof{
    width: 30em;
    height: 2em;
    /* background: #008000; */
    color: #003600;
    border: 1px solid #008000;
    border-radius: 5px;
    padding-left: 20px;
    font-family: sans-serif;
    outline-color:rgb(170, 4, 4) ;

    margin-top: -20px;
    padding-top: 5px;
    box-shadow: 1px 1px 5px #003600;
    animation: payement 400ms ease;
}
@keyframes payement{
    0%{
        width: 0em;
    }
    25%{
        width: 15em;
    }
    50%{
        width: 20em;
    }
    75%{
        width: 25em;
    }
    100%{
        width: 30em;
    }
}
input[type=file]::file-selector-button {
    background: #008000;
    border: none;
    color: white;
    padding: 3px;
    border-radius: 2px;
}
input[type=file]::file-selector-button:hover{
    background: #003600;
}
.main-form-select-price{
    width: 32em;
    height: 3em;
    /* background: #008000; */
    color: #003600;
    border: 1px solid #008000;
    border-radius: 15px;
    padding-left: 10px;
    /* padding-right: 20px; */
    font-family: sans-serif;
    box-shadow: 1px 1px 5px #003600;
}
.client-text-textarea{
   max-width: 33em;
    /* background: #008000; */
    color: #003600;
    border: 1px solid #008000;
    /* border: none; */
    border-radius: 5px;
    padding-left: 20px;
    font-family: sans-serif;
    margin-top: 20px;
    box-shadow: 1px 1px 5px #003600;
}

.acceuil-client-form,.client-form-phone,.client-form-name{
    margin-top: 10px;
}

.client-title{
    font-family: 'Quicksand', sans-serif;
    color: #008000;
    font-size: 20px;
}
.select-title{
    font-family: 'Quicksand', sans-serif;
    color: #008000;
    font-size: 15px;
}
.submit-button{
    height: 2.5em;
    margin-top: 20px;
    width: 20em;
    border-radius: 20px;
    background: #003600;
    border: none;
    color:white;
    cursor: pointer;
}
.submit-button:hover{
    border:2px solid rgb(68, 2, 2);
}



/* /////////////////// MAIN CLASS ///////////////////////////// */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
.App{
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.main{
    width: 50%;
    position: absolute;
    height: 100%;
}
.option-content{
    width: 50%;
    position: absolute;
    height: 100%;
    right: 0;
}
.main-option-container{
    width: 50%;
    animation: fromTop 500ms ease-in;
}
@keyframes fromTop{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0);
    }
}
.option-ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    text-align: center;
    margin-left: 250px;
}
.option-li{
    list-style: none;
    margin-left: 50px;
    font-size: 30px;
    font-family: 'Quicksand';
    color: #008000;
    cursor: pointer;
}
.option-li:hover{
    transform: scale(1.2,1.2);
    transition: 300ms;
}

.option-acceuil{
    border-bottom:2px solid rgb(68, 2, 2)
}
@keyframes boderbottom{
    0%{
        width: 50%;
    }
    100%{
        width: 100%;
    }
}

.main-logo-container{
    width: 50%;

}
.logo{
    width: 900px;
    text-align: center;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    display: flex;
    margin-top: 20px;
}
.main-icons-container{
    width: 50%;
    animation: fromBottom 500ms ease-in;
}
@keyframes fromBottom {
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0);
    }
}
.icons-ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: center;
    text-align: center;
    margin-left: 300px;
}
.icons-li{
    list-style: none;
    margin-left: 70px;
    font-size: 30px;
    font-family: 'sawasdee' ;
    color: #008000;
    cursor: pointer;
}
.icons-li:hover{
    font-size: 35px;
    transition: 400ms;
}

/* ************************************* MEDIA QUERIES ***************************************8 */
@media(max-width:500px){
    .acceuil{
        padding-bottom: 50px;
    }
   /* .logo{ 
    width: 370px;
    text-align: center;
    justify-content: unset;
    align-items: unset;
    /* text-align: center; */
    /* display: unset;
    margin-top: unset; */
   /* } */
 .welcome-h3{
    text-align: center;
    padding: 0px 5px 0px 5px;
}
.client-form-mail,.client-form-phone,.client-form-name{
    width: 25em;
    height: 3em;
}
.client-payement-proof{
    width: 25em;
    height: 2em;
}
.main-form-select-price{
    width: 26em;
    height: 3em;
}
.App{
    display: block;
    /* flex-direction: row; */
}
.app-main{
box-sizing: border-box;
display: block;
min-height: 100vh;
margin: auto;
}
.main{
    width: 0;
    position: unset;
    height: unset;
}
.main-option-container{
    width: unset;
    animation: fromTop 500ms ease-in;
}
.option-ul{
    justify-content: unset;
    text-align: unset;
    margin-left: unset;
    display: inline-table;
    text-align: center;
    margin-left: unset;
    padding: 0;
}
.option-li{
    list-style: none;
    margin-left: 20px;
    font-size: 18px;
    font-family: 'Quicksand';
    color: #008000;
    cursor: pointer;
    display: inline;
}
.option-li:hover{
    transform: scale(1.2,1.2);
    transition: 300ms;
}

.main-logo-container {
    width: 100%;
    vertical-align: middle;
    margin-top: 16vh;
}
.main-icons-container{width: 100%;
animation: fromBottom 500ms ease-in;
display: block;
margin-top: 30vh;
justify-content: center;

}
.icons-ul{
    /* margin-left: 80px; */
    justify-content: unset;
    align-items: unset;
    margin-left: unset;
    padding: unset;
}
.icons-li{
    margin-left: 50px;
    padding-right: 10px;
}
.option-content{
    display: block;
    width: 100%;
    height: 100vh;
    right: unset;
    position: unset;
}
}
@media screen and (min-width:300px) and (max-width:365px){
    .logo{
        width: 300px;
    }
    .option-li{
        list-style: none;
        margin-left: 10px;
        font-size: 18px;
        font-family: 'sawasdee';
        color: #008000;
        cursor: pointer;
        display: inline;
    }
    .icons-li {
        margin-left: 40px;
        padding-right: 10px;
    }
    .welcome-h3{
        text-align: center;
        padding: 0px 5px 0px 5px;
    }
}
@media screen and (min-width:360px) and (max-width:399px){
    .logo{
        width: 370px;
    }
    .welcome-h3{
        text-align: center;
        padding: 0px 5px 0px 5px;
    }
}
@media screen and (width:320px) and (height:568px){
    .client-form-mail,.client-form-phone,.client-form-name{
        width: 20em;
        height: 3em;
        margin-left: 20px;
    }
    .client-payement-proof{
        width: 20em;
        height: 2em;
        margin-left: 20px;
    }
    .main-form-select-price{
        width: 21em;
        height: 3em;
        margin-left: 20px;
    }
}
@media screen and (min-width:400px) and (max-width:500px){
    .logo{
        width: 400px;
    }
    .main-option-container{
        margin-left: 20px;
        width: unset;
        animation: fromTop 500ms ease-in;
    }
    .welcome-h3{
        text-align: center;
        padding: 0px 5px 0px 5px;
    }
}
@media screen and (min-width:768px) and (max-width:1024px){
    .main{
        width: unset;
    }
    .logo {
        width: 768px;
    }
    .App{
        display: block
    }
    .app-main{
        box-sizing: border-box;
        display: block;
        min-height: 100vh;
        margin: auto;
    }
    .welcome-h3{
        text-align: center;
        padding: 0px 5px 0px 5px;
    }
    .client-form-mail,.client-form-phone,.client-form-name{
        width: 30em;
        height: 3em;
    }
    .client-payement-proof{
        width: 30em;
        height: 2em;
    }
    .main-form-select-price{
        width: 31em;
        height: 3em;
    }
    .main-logo-container {
        width: 100%;
    }
    .main-option-container {
        width: 100%;
        animation: fromTop 500ms ease-in;
    }
    .option-content {
        width: 100%;
        position: absolute;
        height: 100vh;
        right: 0;
        left: 0px;
    }
    .option-ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-content: center;
        text-align: center;
        margin-left: 0px;
        padding: 0;
    }
    .option-li {
        list-style: none;
        margin-left: 0px;
        font-size: 30px;
        font-family: 'sawasdee';
        color: #008000;
        cursor: pointer;
    }
    .main-icons-container {
        width: 0;
        animation: fromBottom 500ms ease-in;
        margin-top: 100px;
    }
    .icons-ul {
        margin-left: 300px;
    }
}
@media screen and (width:1024px){
    .main{
        width: 1024px;
    }
    .logo {
        width: 1000px;
    }
    .acceuil {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 200px;
    }
    .icons-ul {
        margin-left: 410px;
    }
}