@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');
.souscire-content{
    margin-top: 100px;
    text-align: center;
}
.souscrire-success{
    font-family: 'Quicksand', sans-serif;
    color: #008000;
    /* color: #00800063; */

}
.souscrire-button{
    display: block;
    margin: auto;
    margin-top: 30px;
}
@media(max-width:500px){
    .submit-button-container{
        text-align: center !important;
    }
}